#head
{
background-color: darkgreen;
border-spacing: : 20%;
padding: 2%;
	margin: 2%;

}

.title
{
	color: white;
	font-size: 200%;
}
.student
{
	color: white;
	font-size: 100%;
}
body{
	margin: 2%;
	background: grey;
	border-spacing: : 20%;
padding: 2%;
	margin: 2%;

}

#content
{
	background-color:forestgreen;
	border-spacing: : 10%;
padding:5%;
	margin: 2%;
	font-size: 120%;
}

#main{
	background-color: white;
	padding: 2%;
	border-spacing:20%;
	margin: 2%;
}

footer{
	background-color: darkgreen;
border-spacing: : 20%;
padding: 2%;
	margin: 2%;
}

a:link
{
	color: red;
}
a:visited{
	color:orange;
}
a:hover
{
	color:pink;
}

#qmul{
	color: purple;
}

#copyright
{
	font-family: fantasy;
}

hgroup
{
	font-style:italic;
}

img{
	border-style: double;
}

#intro
{
	font-family: serif;
}
.hobbies
{
	font-family: sans-serif;
}
#webtext
{
	font-family:system-ui;
}
#food
{
	color:green;
}
#places{
	color:blue;
	font-family: fantasy;
}